<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>493828337917-440jqs7ppikoc5s42poumgo39fkmpq48.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.493828337917-440jqs7ppikoc5s42poumgo39fkmpq48</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>493828337917-clb3ogqdsao4d4sooo9qmt3d3k8j2sam.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBYNMZ1yRmFqoMimN-mLPnHSMtmcsxO-wM</string>
	<key>GCM_SENDER_ID</key>
	<string>493828337917</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>me.g3it.pharmaaccessfzllc</string>
	<key>PROJECT_ID</key>
	<string>hola-medico-bcba9</string>
	<key>STORAGE_BUCKET</key>
	<string>hola-medico-bcba9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:493828337917:ios:dbebe719018a7c18c24e94</string>
</dict>
</plist>